.header__lang-link {
    color: white;
    text-decoration: none;
    margin-right: 18px;
    line-height: 28px;
}



.header__lang-link:last-of-type {
    margin-right: 0;
}

.header__lang-link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 425px) {

    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}