.place__title {
    font-weight: 900;
    font-style: normal;
    font-size: 72px;
    line-height: 76px;
    align-self: end;
    margin: 0;
    
}


@media screen and (min-width: 426px) and (max-width: 768px) { 

    .place__title {
        max-width: 288px;
        font-size: 5.5vw;
        line-height: 110%;
    }
}

@media screen and (max-width: 425px) {

    .place__title {
        font-size: 32px;
        line-height: 35px;
        padding-left: 16px;
    }
}