.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: calc(100% - 96px);
    align-content: center;
    margin: 0 auto;
    gap: 16px;
    padding-top: 92px;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        max-width: calc(100% - 96px);
        margin: 0 auto;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {

    .photo-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: calc(100% - 48px);
    }
}

@media screen and (max-width: 425px) {

    .photo-grid {
        display: grid;
        grid-template-columns: 1fr;
        max-width: calc(100% - 32px);
    }
}