@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("./fonts/Inter-Regular.woff2") format("woff2"),
         url("./fonts/Inter-Regular.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
    src: url("./fonts/Inter-Bold.woff2") format("woff2"),
         url("./fonts/Inter-Bold.woff") format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 900;
    font-display: swap;
    src: url("./fonts/Inter-Black.woff") format("woff2"),
         url("./fonts/Inter-Black.woff2") format("woff");
  }

.page {
    
    background-color: #2A2C2F;
    font-family: 'Inter', sans-serif;
    color: white;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: calc(100% - 96px);
    
    margin: auto;
    padding-top: 28px;
}

.header__logo {
    width: 176px;
    height: 52px;
}

.header__lang-link {
    color: white;
    text-decoration: none;
}

.header__lang-link:first-of-type {
    text-decoration: underline;
    padding-right: 18px;
}


.lead {
    
    max-width: calc(100% - 296px);
    
    padding-top: 56px;
    margin: auto;

}

.lead__title {
    margin: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 96px;
    text-align: center;
    line-height: 100px;
    max-width: 720px;
}

.lead__subtitle {
    margin: auto;
    padding-top: 32px;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    line-height: 36px;
    max-width: 640px;
    text-align: center;
}

.lead__image {
    max-width: 100%;
    
    padding-top: 64px;
}

.lead__caption {
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    margin: 0;
    padding-top: 8px;
}

.intro {
    max-width: 984px;
    padding-top: 92px;
    margin: 0 auto;    
}

.intro__title {
    font-weight: 900;
    font-style: normal;
    font-size: 54px;
    line-height: 58px;
    margin: 0;
}

.intro__text {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 26.08px;
    max-width: 690px;
    
    margin: 0;
    padding-top: 40px;
}

.intro__list {
    list-style-type: none;
    font-weight: bold;
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
    padding-left: 0;
    margin: 0;
    padding-top: 33px;
}

.list__number {
    font-weight: normal;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: calc(100% - 96px);
    align-content: center;
    margin: 0 auto;
    gap: 16px;
    
    padding-top: 92px;
}

.photo-grid__item {
    width: 100%;
}

.places {
    max-width: 984px;
    margin: 0 auto;
}

.place {
    display: grid;
    grid-template-columns: minmax(440px, 460px) minmax(456px, 484px);
    gap: 40px;
    padding-top: 92px;
}

.place__title {
    font-weight: 900;
    font-style: normal;
    font-size: 72px;
    line-height: 76px;
    align-self: end;
    margin: 0;
}

.place__website {
    align-self: end;
}

.place__website:hover {
    opacity: 0.8;
}

.website__url-heading {
    color: #AAAAAA;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
}

.website__link {
    color: white;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
}

.place__text {
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 29.34px;
}

.place__paragraph {
    margin: 0;
}

.place__paragraph:nth-of-type(2) {
    padding-top: 26px;
}

.place__image {
    max-width: 100%;
}

.cover {
    max-width: 100%;
    margin: 0 auto;
    max-height: 740px;
    padding-top: 92px;
}

.cover__title {
    max-width: 560px;
    font-weight: 900;
    font-style: normal;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: white;
}

.cover__subtitle {
    max-width: 360px;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: white;
}

.cover__overlay {
    max-width: calc(100% - 96px);
    height: 740px;
    background-image: linear-gradient(rgba(42, 44, 47, 0.3), rgba(42, 44, 47, 0.3)), url(./sprint-3-images/cover-trains.jpg);
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 0 auto;
    transition: background-image;

}

.cover__overlay:hover {
    background-image: linear-gradient(rgba(42, 44, 47, 0.8), rgba(42, 44, 47, 0.8)), url(./sprint-3-images/cover-trains.jpg);
}

.footer {
    display: flex;
    flex-direction: row;
    max-width: calc(100% - 96px);
    justify-content: space-between;
    margin: auto;
    padding-top: 92px;
    padding-bottom: 24px;
}

.footer__link {
    padding-left: 18px;
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 18px;

}

.footer__link:nth-of-type(1) {
    padding-left: 0;
}

.footer__copyright {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
}

@media screen and (min-width: 1280px) {
    .header {
        max-width: calc(100% - 96px);
    }

    .lead {
        max-width: calc(100% - 296px);
    }

    .lead__image {
        width: 100%;
        height: 100%;
        margin: auto;
    }

    .intro {
        max-width: calc(100% - 148px);
        margin-right: 0;
        max-height: 720px;
    }

    .cover {
        max-width: calc(100% - 96px);
        
    }

    .cover__overlay {
        max-width: 100%;
        
    }

    .footer {
        max-width: calc(100% - 96px);
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    
    .header {
        max-width: calc(100% - 96px);
        padding-top: 28px;
    }

    .lead {
        max-width: calc(100% - 96px);
        margin: auto;
        }

    .lead__image {
        max-width: 100%;
        max-height: 100%;
    }

    .intro {
        max-width: calc(100% - 48px);
        margin-right: 0;
    }

    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        max-width: calc(100% - 96px);
        margin: 0 auto;
    }

    .places {
        max-width: calc(100% - 96px);
        margin: 0 auto;
    }

    .place {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
    }

    .cover {
        width: 100%;
    }

    .cover__overlay {
        max-width: 100%;
        margin: 0 auto;
    }

    .footer {
        max-width: calc(100% - 96px);
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .header {
        max-width: calc(100% - 48px);
    }

    .lead {
        max-width: 100%;
        margin: auto;
    }

    .lead__title {
       font-size: 40px;
       line-height: 44px;
       margin: auto;
       max-width: calc(100% - 32px);
    }

    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        margin: auto;
        max-width: calc(100% - 128px);
    }

    .intro {
        max-width: calc(100% - 48px);
        display: grid;
       
    }

    .intro__title {
        font-size: 32px;
        line-height: 35px;
    }

    .intro__list {
        padding-top: 34px;
    }

    .photo-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: calc(100% - 48px);
    }

    .places {
        max-width: 100%;
        margin: 0 auto;
    }

    .place {
        display: grid;
        grid-template-columns: 1fr;
        gap: 32px;
    }  

    .place__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
        padding-left: 24px;
    }

    .place__website {
        padding-left: 24px;
    }

    .place__text {
        padding-left: 24px;
        padding-right: 24px;
    }

    .cover {
        width: 100%;
        max-height: 480px;
        padding-top: 90px;
    }

    .cover__overlay {
        max-width: 100%;
        margin: 0 auto;
        max-height: 480px;
        
    }

    .cover__title {
        font-size: 32px;
        line-height: 35px;
    }

    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
    }

    .footer {
        max-width: calc(100% - 48px);
        padding-top: 88px;
    }

    .footer__links {
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        gap: 18px;
        
    }

    .footer__link {
        padding: 0;
    }

    .footer__copyright {
        align-self: flex-end;
        text-align: right;
    }
}

@media screen and (max-width: 425px) {
    .header {
        max-width: calc(100% - 32px);
        padding-top: 16px;
    }

    .header__logo {
        width: 142px;
        height: 42px;
    }

    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }

    .lead {
        max-width: 100%;
        padding-top: 48px;
    }

    .lead__title {
        font-size: 30px;
        line-height: 34px;
        margin: auto;
        max-width: calc(100% - 32px);
        
    }

    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        padding-top: 16px;
    }

    .lead__image {
        width: 100%;
        padding-top: 40px;
    }
    
    .intro {
        max-width: calc(100% - 32px);
        padding-top: 64px;
    }

    .intro__title {
        font-size: 32px;
        line-height: 35px;
    }

    .photo-grid {
        display: grid;
        grid-template-columns: 1fr;
        max-width: calc(100% - 32px);
    }

    .places {
        width: 100%;
    }

    .place {
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 64px;
        gap: 32px;
    }

    .place__title {
        font-size: 32px;
        line-height: 35px;
        padding-left: 16px;
    }

    .place__website {
        padding-left: 16px;
    }

    .place__text {
        padding-left: 16px;
        padding-right: 16px;
    }

    .cover {
        width: 100%;
        padding-top: 66px;
    }

    .cover__overlay {
        max-width: 100%;
        margin: 0 auto;
        max-height: 200px;
    }

    .cover__title {
        font-size: 32px;
        line-height: 35px;
        margin: 0 auto;
    }

    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        padding-top: 16px;
        margin: 0 auto;
    }

    .footer {
        display: flex;
        flex-direction: column;
        padding-top: 64px;
    }

    .footer__links {
        display: grid;
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .footer__link {
        padding: 0;
    }

    .footer__copyright {
        padding-top: 48px;
    }
}