.lead {
    max-width: calc(100% - 296px);
    padding-top: 56px;
    margin: auto;
}

@media screen and (min-width: 1281px) {
    

    .lead {
        max-width: 984px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    .lead {
        max-width: calc(100% - 96px);
        
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {

    .lead {
        max-width: 100%;
        padding-top: 48px;
    }
}

@media screen and (max-width: 425px) {

    .lead {
        max-width: 100%;
        padding-top: 48px;
    }
}