.footer__link {
    padding-left: 18px;
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 18px;

}

.footer__link:hover {
    opacity: 0.8;
}

.footer__link:nth-of-type(1) {
    padding-left: 0;
}

@media screen and (min-width: 426px) and (max-width: 768px) {

    .footer__link {
        padding: 0;
    }
}

@media screen and (max-width: 425px) {

    .footer__link {
        padding: 0;
    }
}