.lead__title {
    margin: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 96px;
    text-align: center;
    line-height: 100px;
    max-width: 720px;
}

@media screen and (min-width: 426px) and (max-width: 768px) {

    .lead__title {
       max-width: calc(100% - 48px);
       font-size: 12.5vw;
       line-height: 104%;
    }
}

@media screen and (max-width: 425px) {

    .lead__title {
        font-size: 12.5vw;
        line-height: 110%;
        max-width: calc(100% - 32px);
        
    }
}