.footer__links {
    display: flex;
    align-items: center;
    gap: 18px;
    list-style-type: none;
    padding-left: 0;
}

@media screen and (min-width: 426px) and (max-width: 768px) {

    .footer__links {
        display: flex;
        align-items: center;
        gap: 18px;
    }
}

@media screen and (max-width: 425px) {

    .footer__links {
        display: grid;
        grid-template-columns: 1fr;
        gap: 32px;
    }
}