.place__website-link {
    color: white;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
}

.place__website-link:hover {
    opacity: 0.8;
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .place__website-link {
        font-size: 3vw;
    }
}