.cover__overlay {
    max-width: calc(100% - 96px);
    min-height: 740px;
    background-image: url(../../../images/cover-trains.jpg);
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 0 auto;
    position: relative;
    
}

.cover__overlay::before {
    content: '';
    position: absolute;
    background-color: #2A2C2F;
    opacity: 0.3;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.cover__overlay:hover::before {
    background-color: #2A2C2F;
    opacity: 0.8;
    
    
}



@media screen and (min-width: 1281px) {

    .cover__overlay {
        max-width: 100%;
        
    }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {

    .cover__overlay {
        max-width: 100%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    .cover__overlay {
        max-width: 100%;
        margin: 0 auto;
        min-height: 640px;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {

    .cover__overlay {
        max-width: 100%;
        margin: 0 auto;
        min-height: 480px;
    }
}

@media screen and (max-width: 425px) {

    .cover__overlay {
        max-width: 100%;
        margin: 0 auto;
        min-height: 200px;
    }
}