.place {
    display: grid;
    grid-template-columns: minmax(440px, 460px) minmax(456px, 484px);
    gap: 40px;
    padding-top: 92px;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    .place {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {

    .place {
        display: grid;
        grid-template-columns: 1fr;
        gap: 32px;
    }
}

@media screen and (max-width: 425px) {

    .place {
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 64px;
        gap: 32px;
    }
}