.place {
    display: grid;
    grid-template-columns: minmax(440px, 460px) minmax(456px, 484px);
    gap: 40px;
    padding-top: 92px;
}

.place:first-of-type {
    padding-top: 0;
}



@media screen and (min-width: 1025px) and (max-width: 1280px) {

    .place {
        
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    .place {
        
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {

    .place {
        
        grid-template-columns: minmax(150px, 340px) minmax(150px, 352px);
        gap: 48px 28px;
        padding-top: 73px;
    }
}

@media screen and (max-width: 425px) {

    .place {
        
        grid-template-columns: 1fr;
        padding-top: 50px;
        gap: 32px;
    }
}