.intro__title {
    font-weight: 900;
    font-style: normal;
    font-size: 54px;
    line-height: 58px;
    margin: 0;
}

@media screen and (min-width: 426px) and (max-width: 768px) {

    .intro__title {
        font-size: 7vw;
        line-height: 107%;
    }
}

@media screen and (max-width: 425px) {

    .intro__title {
        font-size: 10vw;
        line-height: 35px;
        max-width: 250px;
    }
}